.carousel{
    position: relative;
    // margin: 20px;
}
.carouselCaption{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -55%;

    .caption1{
        // position: absolute;
        
    }
}