@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nosifer&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100&display=swap");

.carousel {
  position: relative;
  // margin: 20px;
}
.carouselCaption {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50%;

  .caption1 {
    position: absolute;
  }
  .accessCube {
    text-shadow: 0 0 4px #0fffff;
    color: #fff;
    font-family: "Anek Devanagari", sans-serif;
    font-size: 27px;
    font-weight: 400;
    width: 90%;
    padding-top: 10px;
    padding-left: 5px;
    height: 50px;
    margin-left: 5px;
    border: none;
    border-bottom: 4px solid;
    border-image: linear-gradient(90deg, #13c477, transparent) 1 0;
  }

  .captionImages {
    width: 100%;
    height: 100%;
    position: absolute;

    .sideimages{
        position: absolute;
    }
  }
}
