@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nosifer&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100&display=swap");

.main {
  padding: 60px 0px 200px 0px;
  color: #fff;
  background-image: url("../Media/vrworld-bg.png");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Anek Devanagari", sans-serif;

  .container {
    .row1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 54px;
        font-weight: 600;
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
        color: #fff !important;
        margin: 0;
      }
      h3 {
        font-size: 28px;
        font-weight: 400;
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
        color: #fff !important;
        margin: 0;
      }
    }
  }
  .col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: end;
    right: -0.8vw;
    position: relative;
    max-width: 449px;
    .pcClient {
      z-index: 2;
    }
    p {
      font-size: 20px;
      font-weight: 400;
      text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    }
  }
  p {
    text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    color: #fff !important;
    font-size: 20px;
    margin-bottom: 0;
  }

  .col2 {
    text-align: left;
    left: -0.8vw;
    position: relative;
    max-width: 398px;
    p {
      font-size: 20px;
      font-weight: 400;
      text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    }
  }
  p {
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
  }
}
